@use "../variables/variables.scss" as var;
@use "../mixins//mixins" as mixins;

.about {
  @include mixins.flex-center;
  .section {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 40px;

    // @media (max-width: var.$breakpoint-tablet) {
    //   padding-top: 10vh;
    // }

    // @media (max-width: var.$breakpoint-mobile) {
    //   padding-top: 5vh;
    // }

    .top-header {
      @include mixins.semiTransparentBackground(var.$secondary-bg-color);
      @include mixins.flex-center;
      border-radius: 0 50px 50px 0;
      width: 35%;
      padding: 20px 20px;
      padding-right: 30px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      h1 {
        font-size: var.$font-size-xl;
        @media (max-width: var.$breakpoint-tablet) {
          font-size: 6vw;
          // width: 50%;
          align-items: flex-start;
          font-size: 26px;
        }
        @media (max-width: var.$breakpoint-mobile) {
          font-size: 6vw;
          width: 60%;
          align-items: flex-start;
        }
      }

      @media (max-width: var.$breakpoint-tablet) {
        font-size: 6vw;
        width: 50%;
        align-items: flex-start;
        // padding: 10px;
        font-size: 26px;
      }

      @media (max-width: var.$breakpoint-mobile) {
        font-size: 6vw;
        width: 60%;
        align-items: flex-start;
      }
    }

    .row {
      width: 50%;
      color: var.$text-color-secondary;
      @media (max-width: var.$breakpoint-mobile) {
        width: 100%;
      }
    }
    @media (max-width: var.$breakpoint-mobile) {
      gap: 10px;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 100px;
    @media (max-width: var.$breakpoint-mobile) {
      padding-left: 20px;
    }
    @media (max-width: var.$breakpoint-tablet) {
      padding-left: 50px;
    }
    .col {
      @include mixins.flex-arround;
      align-items: start;
      gap: 6px;
      .about-info {
        @include mixins.flex-arround;
        flex-direction: column;
        align-items: start;
        gap: 6px;
        h3 {
          font-size: 28px;
        }
      }
      .skills-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .skills-list {
          @include mixins.flex-sb;
          align-items: start;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: var.$breakpoint-mobile) {
    padding-top: 50px;
    align-items: flex-start;
  }
}
