@use "../../variables/variables" as var;
@use "../../mixins/mixins" as mixins;

.navBar {
  @include mixins.flex-sb;
  gap: 10px;
  background-color: var.$secondary-bg-color;
  color: var.$text-color-primary;
  padding: 0.8em;
  position: relative;

  .logo {
    font-size: 1.5em;
  }

  .nav-options {
    @include mixins.flex-sb;
    gap: 18px;
    .options {
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        width: 0%;
        height: 1px;
        background-color: var.$text-color-primary;
        position: absolute;
        bottom: -5px;
        left: 0;
        transition: width 0.2s linear;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }

  /* Hamburger styles */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    .line {
      width: 30px;
      height: 4px;
      background-color: var.$text-color-primary;
      border-radius: 5px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
  }

  /* Mobile Styles */
  @media (max-width: 768px) {
    .nav-options {
      display: none;
      width: 100%;
      flex-direction: column;
      gap: 15px;
      background-color: var.$secondary-bg-color;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 1em;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-options.open {
      display: flex;
    }

    /* Hamburger display */
    .hamburger {
      display: flex;
    }

    /* Hamburger line animation for close menu */
    .hamburger.open .line:nth-child(1) {
      transform: rotate(45deg) translate(8px, 7px);
    }

    .hamburger.open .line:nth-child(2) {
      opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
